.container{
    width:80%;
    margin-left:8rem;
}

.left-content{
    display: inline-block;
    height: 50vh ;
    width:20%;
    vertical-align: top;
    margin-left:4rem;
    margin-top: 20rem;
}

.image{
    width: 30%;
    height:80vh;
    margin-top: 5rem;
}

.button{
    border: 1px solid aqua;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 0.5rem;
    color: aqua;
}

h1{
    color:aqua;
}